@font-face {
  font-family: 'AmaticSC-Regular';
  src: url(assets/fonts/AmaticSC-Regular.ttf)format('truetype');
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url(assets/fonts/AmaticSC-Bold.ttf)format('truetype');
}


@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(assets/fonts/Quicksand-Light.ttf)format('truetype');
}

@font-face {
  font-family: 'Quicksand-SemiBold', sans-serif;
  src: url(assets/fonts/Quicksand-SemiBold.ttf)format('truetype');
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1A120B;
}

body {
  font-family: 'Quicksand', sans-serif, 'Courier New', Courier, monospace;
  color: #E5E5CB;
  margin: 0 auto;
  min-height: 100vh;
  background: 
    linear-gradient(to bottom, rgba(13, 23, 23, 0) 70%, rgba(13, 23, 23, 1) 100%), 
    url("./assets/img/cuisine_background.webp") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  padding:0;
}

.background-overlay {
  background: rgba(13, 23, 23, 0.7); 
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40px;
}

h1 {
  font-family: 'AmaticSC-Regular';
  color: #647E68;
}

h2 {
  font-family: 'AmaticSC-Bold';
  text-align:center;
  width: 100%;
  font-size: 2.3rem;
  }

h3 {
  font-family: 'AmaticSC-Regular';
  text-align: center;
  font-size: 1.5rem;
  color: #ffff;
  margin: 10px;
  height: 4rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;  
  color: #333;
}

button {
  margin: auto;
  font-family: 'AmaticSC-Bold';
  color: #E5E5CB;
  background-color: transparent; 
  border: 3px solid #E5E5CB ; 
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 5px;
  transition: background-color 0.6s ease, color 0.6s ease;
}

button:hover {
  background-color: #E5E5CB;
  color: #1A120B;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

label {
  font-size: 2rem;
}

hr {
  border-color: #647E68;
  
}

legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

fieldset {
  border-style: none;
}

.blend-in-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.blend-in-wrapper.visible {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.blend-in-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: 3px solid #647E68; 
}


@media screen and (max-width: 800px) {
  
  body {
    margin: 0 auto;
  }

  main {
    width: 85%;
    margin: auto;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
    height: auto;
  }

  label {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}