.SelectedIngredient{
  margin: 5px;
  padding: 7px;
  border: 3px solid #78A083;
  border-radius: 30px;
  box-shadow: 2px 2px 0px 0px #78A083, -2px -2px 0px 0px #78A083
}

.SelectedIngredient:hover {
  cursor: pointer;
  border: 3px solid #FB773C;
  color: #FB773C;
  box-shadow: 2px 2px 0px 0px #FB773C, -2px -2px 0px 0px #FB773C;
}

@media screen and (max-width: 600px) {

}