.IntolerancesCheckboxes {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 1rem auto;
  gap: 0.5rem;
  text-align: left;
  border-color: #E5E5CB;
  border-style: solid;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.checkbox{
  width: 30%;
  margin: 0;
  padding: 0rem;
}

.intolerance-label {
  font-size: 1.3rem;
}

.checkbox-input {
  margin-right: 9px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .IntolerancesCheckboxes {
    width: 100%;
    justify-content: flex-start;
  }

  .checkbox{
    width: 42%;
    padding: 0.4rem;

  }

}
