.selected-recipe-details {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  background-color: #E5E5CB;
  color: #1A120B;
  padding: 30px;
}

.recipe-title {
  font-size: 2.9rem;
  margin: 10px;
}

.recipe-img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    overflow: hidden; 
    border-radius: 20px;
    margin-top: 20px;
}

.ingredient-container {
  margin-top: 20px;;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #D5CEA3;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ingredients-list {
  list-style-type: none; 
  padding-left: 20px; 
  font-size: 1.3em;
  text-align: left;
  width: 85%;
  line-height: 30px;
}

.ingredients-list li {
  position: relative; 
  padding-left: 40px; 
  padding-bottom: 20px;
}

.ingredients-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  width: 25px; 
  height: 25px;
  background-image: url('../../../assets/img/chefcook_bulletpoint.png');
  background-size: contain; 
  background-repeat: no-repeat;
  padding-bottom: 20px;
}


.instructions-container, .summary-container, .wine-container {
  font-size: 1.2rem;
  line-height: 28px;  
  margin-bottom: 40px;
}


@media screen and (max-width: 600px) {
  .selected-recipe-details {
    display: block;
    width: 100%;
    margin: 0 auto;
    word-break: break-word; 
    box-sizing: border-box;
    height: 100%;
  }

  .recipe-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    
  }

  .instructions-container, .summary-container, .wine-container {
   width: 94%;
   margin: auto;
   padding: 0;
   margin-bottom: 30px;
   font-size: 1.3rem;
   line-height: 2rem;
  }
}