  .no-recipes-mesage {
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 5vh;
    font-family: 'AmaticSC-Bold';
    color: #E5E5CB;
    font-size: 35px;
    width: 90vw;
    text-align: center;
  }
