.back-recipes-button-container {
    display: flex;
    padding: 40px 0;
}

.back-recipes-button {
    border-color: #647E68;
    color: #1A120B;
    transition: all 0.6s ease;
}


.back-recipes-button:hover {
    color: #E5E5CB;
    background-color: #647E68;
}
