.SubmitButton {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  margin-top: 0;
}

.submitBox {
  margin-top: 0;
  padding: 0px;
  width: 100%;  
}


@media screen and (max-width: 600px) {
  .SubmitButton {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
  }

  .submitBox {
    margin-top: 20px;
    padding: 0px;
    width: 100%;  
  }
}