.recipeCard {
  min-width: 290px;
  width: 100%; 
  background-color: #D5CEA3;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 360px;
  margin: 0;
}


.recipe-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 280px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.recipeImageContainer {
  margin-bottom: 25px;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.recipeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; 
  z-index: 0;
}

.recipeTitle {
  font-family: 'AmaticSC-Bold';
  font-size: 1.9rem;
  color: #1A120B;
  text-align: center;
  z-index: 1; 
  background: rgba(229, 229, 203, 0.5); 
  border-radius: 4px;
  width: 100%;
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  transition: font-size 0.3s ease-in-out, background 0.3s ease-in-out; /* Add transition */
}

.recipeTitle:hover {
  font-size: 2rem;
  background: rgba(229, 229, 203, 0.8);
}

.recipeButton {
  width: 40%;
  padding: 10px 4px;
  padding-top: 16px;;
  display: block;
  margin-bottom: 1rem;
  font-family: 'Quicksand-SemiBold', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 3px solid #647E68;
  border-radius: 25px;
  box-shadow: 2px 2px 0px 0px #647E68, -2px -2px 0px 0px #647E68;
  margin: auto;
  font-weight: bold;
  background-color: transparent;
  color: #647E68;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.recipeButton:hover {
  background-color: #647E68;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

@media screen and (max-width: 600px) {
  
  .recipeCard {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  #recipeImg {
    width: 100%;
  }

  .recipeButton {
    margin: 0.8rem auto;
    margin-bottom: 25px;
  }

  .recipeImageContainer {
    overflow: hidden; 
    background-size: cover;
    border-radius: 15px;
  }

  .recipeTitle {
      font-size: 2rem;
      margin: 10px;
  }
}