.RecipeCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px 30px; 
  width: 90%;
  margin: 3rem auto;
  justify-content: center;
}


@media screen and (max-width: 600px) {
  .RecipeCardsContainer {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Single card per row on small screens */
  }
}

@media (min-width: 1920px) {
  .RecipeCardsContainer {
    width: 70%;
  }
}
