.RecipeCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 3rem auto;
  gap: 1.8rem;
  }

@media screen and (max-width: 600px) {
  .RecipeCardsContainer {
    width: 90%;
  }
}

@media (min-width: 1920px)  {
  .RecipeCardsContainer {
    display:flex;
    width: 70%;
    flex-basis: 25%;
  }
}

