.RecipeCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px 30px; 
  width: 90%;
  margin: 0 auto;
  padding: 30PX 0;
  margin-bottom: 3rem;
  place-content: center
}

@media screen and (max-width: 600px) {
  .RecipeCardsContainer {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
  }
}

@media (min-width: 1920px) {
  .RecipeCardsContainer {
    width: 70%;
  }
}
